.OpenAddress {
  width: 960px;
  
  top: 50px;
  left: 0px;
  height: 500px;

background-color:#93D3FA;
color:#99FA93;
  z-index: 1000;
  padding: 0;
  color:black;
}


.box{
	position: relative;
    display: inline-block;
	border: 1px solid black ; padding:5px; margin: 5px;
    height:350px;
	width:210px;
	z-index: 1;
    font-size:10pt;
  
}
.hbox{
    
	position: absolute;
    display: inline-block;
    height:300px;
	width:150px;
	z-index: 1;
    left:450px;
        
    
  
}
.exbox{
	position: absolute;
    display: inline-block;
	border: 1px solid black ; padding:5px; margin: 5px;
    height:350px;
	width:620px;
	
	z-index: 1;
    overflow:scroll;
  
}


.inputDiv{
    display: inline-block;
	height:400px;
	width:200px;
    position:relative;
    padding:15px; margin: 5px;
	z-index: 1;
}
.htable{
        display: inline-block;
	height:400px;
	width:200px;
    position:absolute;
    padding:15px; margin: 5px;
	z-index: 1;
    left:700px;
}
.explain{
        display: inline-block;
	height:400px;
	width:700px;
    position:absolute;
    padding:15px; margin: 5px;
	z-index: 1;
    left:200p
}

.key{ margin-left: 5px;
    width:30px;
    margin-right: 5px;
    display: inline-block;
}
.key2{ margin-left: 5px;
    width:30px;
    margin-right: 5px;
    display: inline-block;
    
}
.key3{ margin-left: 5px;
    width:30px;
    margin-right: 5px;
    display: inline-block;
    
}
.val{ margin-left: 5px;
    width:30px;
    margin-right:5px;
    display: inline-block;
}
.hashfunc{margin-left: 10px;
    width:55px;
}

.maxCap{
    margin-left: 5px;
    width: 50px;
    margin-right:5px;
}

.hashTable {
	clear: both;
	
    color:black;
    height:200px;
     width: 150px;
    
    
   
        
}
.ht{

    color:black;
    height:250px;
     width: 150px;

}
.left{
    clear: both;

  float:left; 
    overflow:hidden;
    color:black;
    width:70px;
    max-width: 70px;
 
  
}
.right{
    clear: both;
    align-self:right;
	float:left; 
    overflow:hidden;
    color:black;
    width:120px;
    max-width: 120px;
    position:absolute;
   left:200px;
    
}
th, tr {
max-width: 60px;
    max-height:22px;
    overflow: auto;
}

th, td {
   
    
    overflow: scroll;
    
    max-width: 60px;
    max-height:22px;
    font-size:12pt;
    
    
}
tr:nth-child(odd)		{ background-color:#99FA93; }
tr:nth-child(even)		{ background-color:#fff; }

.can{
   
    color:blue;
    width: 125px;
    position:absolute;
   left:75px;
}
.can2{
    
    color:blue;
    width: 125px;
    position:relative;
   left:245px;
}
.span3 p{color:black; font-weight: bold; padding: 10px;}  
h2 {color:black; margin: 10px 0 10px 0;}  
        

.span4 h1{color:black; font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;font-weight: bold; font-size:40pt; padding-left:60px;position:inline}
    p{color:orange;font-family: 'Corsiva Hebrew';font-size:16pt; padding-left: 60px;}
.container-fluid {background-color:#A0D8EB; padding: 10px;font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;}
