.OpenAddress {
  width: 960px;
  
  top: 50px;
  left: 0px;
  height: 500px;
  background-image: linear-gradient(bottom, rgb(60,153,252) 0%, rgb(6,15,115) 50%);
background-image: -o-linear-gradient(bottom, rgb(60,153,252) 0%, rgb(6,15,115) 50%);
background-image: -moz-linear-gradient(bottom, rgb(60,153,252) 0%, rgb(6,15,115) 50%);
background-image: -webkit-linear-gradient(bottom, rgb(60,153,252) 0%, rgb(6,15,115) 50%);
background-image: -ms-linear-gradient(bottom, rgb(60,153,252) 0%, rgb(6,15,115) 50%);

background-image: -webkit-gradient(
    linear,
	left bottom,
	left top,
	color-stop(0, rgb(60,153,252)),
	color-stop(0.5, rgb(6,15,115))
);
  z-index: 1000;
  padding: 0;
  color:white ;
}


.box{
	position: relative;
    display: inline-block;
	border: 1px solid black ; padding:5px; margin: 5px;
    height:350px;
	width:200px;
	border: 1px solid white;
	z-index: 1;
    font-size:10pt;
  
}
.hbox{
	position: absolute;
    display: inline-block;
    height:300px;
	width:150px;
	z-index: 1;
    left:450px;
        
    
  
}
.exbox{
	position: absolute;
    display: inline-block;
	border: 1px solid black ; padding:5px; margin: 5px;
    height:350px;
	width:620px;
	border: 1px solid white;
	z-index: 1;
    overflow:scroll;
  
}


.inputDiv{
    display: inline-block;
	height:400px;
	width:200px;
    position:relative;
    padding:15px; margin: 5px;
	z-index: 1;
}
.htable{
        display: inline-block;
	height:400px;
	width:200px;
    position:absolute;
    padding:15px; margin: 5px;
	z-index: 1;
    left:700px;
}
.explain{
        display: inline-block;
	height:400px;
	width:700px;
    position:absolute;
    padding:15px; margin: 5px;
	z-index: 1;
    left:200p
}

.key{ margin-left: 5px;
    width:30px;
    margin-right: 5px;
    
}
.key2{ margin-left: 5px;
    width:30px;
    margin-right: 5px;
    
}
.key3{ margin-left: 5px;
    width:30px;
    margin-right: 5px;
    
}
.val{ margin-left: 10px;
    width:30px;
    margin-right:5px;
}
.hashfunc{margin-left: 10px;
    width:55px;
}

.maxCap{
    margin-left: 5px;
    width: 50px;
    margin-right:5px;
}

.hashTable {
	clear: both;
	border: 1px solid white;
    color:white;
    height:200px;
     width: 150px;
    
    
   
        
}
.ht{

    color:white;
    height:250px;
     width: 150px;

}
.left{
    clear: both;
   
	border: 1px solid white;
    color:white;
    width: 60px;
    position:absolute;
    
  
}
.right{
    clear: both;
    align-self:right;
	border: 1px solid white;
    color:white;
    width: 120px;
    position:absolute;
   left:200px;
    
}
th, tr {
max-width: 50px;
    max-height:22px;
    overflow: auto;
}
.headTable{
    clear: both;
	border: 1px solid white;
    color:white;
   width: 150px;
}
th, td {
   
    border: 1px solid white;
    overflow: scroll;
    
    max-width: 200px;
    max-height:22px;
    font-size:12pt;
    
}

.can{
    border: 1px solid white;
    color:white;
    width: 105px;
    position:absolute;
   left:85px;
}
.can2{
    border: 1px solid white;
    color:white;
    width: 120px;
    position:relative;
   left:320px;
}
